# System files
*.temp
*.tmp
*.log
*.bak
.DS_Store

# Virtual environment
venv/
env/
geo-env/
shiny-app/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
shiny-app/__pycache__/
shiny-app/*.pyc

# Logs and temporary files
*.log
*.tmp

# Editor and backup files
*~
*.bak

# Database
*.sqlite3
